*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero{
    display: flex;
    width: 100%;
}
.logo{
    margin-top: 50px;
 margin-bottom: 60px;
    a{
        text-decoration: none;
    }
    
}
.section1{
    position: fixed;
    padding-left:65px ;
    width: 10%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 260px;
    height: 100%;
    a{
        color: black;
    }
    
}
.box-shadow{
   height: 100%;
    width:20%;
}
.more{
    display: flex;
    flex-direction: column;
    gap: 25px;
    a{
        text-decoration: none;
    }
    
}
#logout-opt{
        width: 60px;
        height: 30px; 
        border-radius: 10%; 
}
.section2{
    padding: 50px;
    width: 90%;
    background-color:  #F9F9F9;
}
.page-title{
    a{

        text-decoration: none;
    }
    
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 109px;
}
#datetime{
    font-size: 25px;
}
.search-container{
    display: flex;
    justify-content: end;
    width: 20%;
    gap: 50px;
}
.prono{
    display: flex;
    justify-content: space-around;
    width: 50%;
  
}

  .icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
  }
  
  .icon-button:hover {
    cursor: pointer;
  }
  
  .icon-button:active {
    background: #cccccc;
  }
  
  .icon-button__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
.profile button{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 100%;
   
    img{
        width: 30px;
        border-radius: 100%;
    }
}
.search input{
        width: 100px;
}
.dashboard{
    display: flex;
    margin-top:60px;
    justify-content: space-around;
    height: 241px;
}
.highlight{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.hcard{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 334px;
    height: 241px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 30px;
    background-color:white ;
    border-radius: 7px;
}
.highlight2{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
   gap: 40px;
}
.h2card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:#fed0ea ;
    border-radius: 7px;
    width: 340px;
    height: 120px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.tut-attendence{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 50px;
   gap: 20px;
}
.tutorial-card{
   background-color:#D0E6FE; 
}
.ongoing-event{
    height: 200px;
    width: 100%;
    background-color: #D0E6FE;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.calender img{
    width: 180px;
    height: 180px;
border-radius: 20px;


}
.schedule{
    margin-top:50px;
    background-color: #fff;
    border-radius: .2rem;
    padding: .5rem;
    display: grid;
    width: auto;
    grid-gap: 0;
      overflow: hidden;
    border: 1px solid #dfe3e6;
    justify-self: center;
  /*   grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); */
    grid-template-columns: [time] 100px
      [sunday] minmax(auto, auto) 
      [monday] minmax(auto, auto) 
      [tuesday] minmax(auto, auto) 
      [wednesday] minmax(auto, auto) 
      [thursday]minmax(auto, auto) 
      [friday] minmax(auto, auto) 
      [saturday] minmax(auto, auto) ;
    grid-template-rows: [header] auto
      [s] 40px
      [sf] 40px
      [st] 40px
      [sff] 40px
      [e] 40px
      [ef] 40px
      [et] 40px
      [eff] 40px
      [n] 40px
      [nf] 40px
      [nt] 40px
      [nff] 40px;    
  }
  
  .schedule_header{
    display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 0.5rem 1rem;
      border: 1px solid #dfe3e6;
  /* 	background-color: white;	 */
    color: #17394d;
      text-align: center;
  }
  
  .schedule_time{
    position: relative;
      padding: 0.5rem 0.25rem;
      border: 1px solid #dfe3e6;
    color: #17394d;
      font-weight: bold;
      text-align: center;
  }
  
  .grid{
      border:1px solid #dfe3e6; 
  }
  
  .schedule-item{
    background-color: white;
    border-radius: .25rem;
  /*   box-shadow: 0 1px 0 rgba(9,45,66,.25); */
    padding: .5rem;
    margin: .25em;
  }
  
  .bg-red{
    background: #eb5a46b8;
    color: #8e3224;
    border: 2px solid #b95344;
  }
  
  .bg-blue{
    background: #08b7d29e;
    color: #104a53;
    border: 2px solid #157786;
  }
  
  .bg-purple{
    background: #a251bfb8;
    color: #633673;
    border: 2px solid #a24cc1;
  }
  
  .bg-yellow{
    background: #f0d50794;
    color: #847927;
    border: 2px solid #e1c700;
  }
  
  .bg-green{
    background: #61bd4fa1;
    color: #3c882d;
    border: 2px solid #61bd4f;
  }
  
  .schedule-sunday { grid-column: sunday / span 1; }
  .schedule-monday { grid-column: monday / span 1; }
  .schedule-tuesday { grid-column: tuesday / span 1; }
  .schedule-wednesday { grid-column: wednesday / span 1; }
  .schedule-thursday { grid-column: thursday / span 1; }
  .schedule-friday { grid-column: friday / span 1; }
  .schedule-saturday { grid-column: saturday / span 1; }
  
  .schedule-row-from-sunday { grid-column: sunday / span 7;}
  /* .schedule-row-to-saturday { grid-column-end: saturday; } */
  
  .time-from-s { grid-row-start: s; }
  .time-from-sf { grid-row-start: sf; }
  .time-from-st { grid-row-start: st; }
  .time-from-sff { grid-row-start: sff; }
  
  .time-from-e { grid-row-start: e; }
  .time-from-ef { grid-row-start: ef; }
  .time-from-et { grid-row-start: et; }
  .time-from-eff { grid-row-start: eff; }
  
  .time-from-n { grid-row-start: n; }
  .time-from-nf { grid-row-start: nf; }
  .time-from-nt { grid-row-start: nt; }
  .time-from-nff { grid-row-start: nff; }
  
  
  /*  End */
  .time-to-s { grid-row-end: s; }
  .time-to-sf { grid-row-end: sf; }
  .time-to-st { grid-row-end: st; }
  .time-to-sff { grid-row-end: sff; }
  
  .time-to-e { grid-row-end: e; }
  .time-to-ef { grid-row-end: ef; }
  .time-to-et { grid-row-end: et; }
  .time-to-eff { grid-row-end: eff; }
  
  .time-to-n { grid-row-end: n; }
  .time-to-nf { grid-row-end: nf; }
  .time-to-nt { grid-row-end: nt; }
  .time-to-nff { grid-row-end: nff; }
  
  .ds{
    display: none;
  }
  @media (max-width: 800px) {
    .schedule{
        display: inline-grid;
        overflow: hidden;
        grid-template-columns: [time] 40px
          [sunday] minmax(auto, 125px) 
          [monday] minmax(auto, 125px) 
          [tuesday] minmax(auto, 125px) 
          [wednesday] minmax(auto, 125px) 
          [thursday]minmax(auto, 125px) 
          [friday] minmax(auto, 125px) 
          [saturday] minmax(auto, 125px) ;
        grid-template-rows: [header] 40px
          [s] 40px 59px
          [sf] 40px 59px
          [st] 40px 59px
          [sff] 40px 59px
          [e] 40px 59px
          [ef] 40px 59px
          [et] 40px 59px
          [eff] 40px 59px
          [n] 40px 59px
          [nf] 40px 59px
          [nt] 40px 59px
          [nff] 40px 59px;
  
      }
    
      .schedule_time {
        -ms-transform: rotate(-90deg) translate(-100px);
        -webkit-transform: rotate(-90deg) translate(-100px);
        transform: rotate(-90deg) translate(-100px);
        -webkit-transform-origin: left 50%;
        -ms-transform-origin: left 50%;
        transform-origin: left top;
        width:90px;
      }
      
      .dl {
         display:none;
      }
    
      .ds{
        display: block;
      }
  /*     .schedule-item {
        height: 70px;
      } */
    
    .grid-last{
      height:98px;
    }
  }